:host {
  height: 100%;
}

@mixin mat-icon-center() {
  ::ng-deep .checkbox-cell-renderer-parent,
  ::ng-deep checkbox-cell-renderer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep checkbox-cell-renderer button {
    height: 22px;
  }
}

@include mat-icon-center();
