@use "@angular/material" as mat;
@use "./colors";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

.striped-rows {
  .mat-mdc-row:nth-child(odd) {
    background-color: var(--mdc-row-odd-color);
  }
}

@mixin mdc-row-hover() {
  mat-table.mat-mdc-table .mat-mdc-row:hover,
  mat-table.mat-mdc-table .mat-mdc-footer-row:hover {
    background-color: var(--mdc-row-odd-hover-color);
  }
}

@mixin mdc-row-height() {
  mat-table.mat-mdc-table mat-row.mat-mdc-row,
  mat-table.mat-mdc-table tr.mat-row.mat-mdc-no-data-row,
  mat-table.mat-mdc-table mat-footer-row.mat-mdc-footer-row {
    height: var(--mdc-row-odd-height);
    min-height: var(--mdc-row-odd-height);
  }
}

@include mat.typography-hierarchy(colors.$typography-config);
@include mat.all-component-themes(colors.$theme);

@include mdc-row-hover();
@include mdc-row-height();
