@use "../../../../styles/colors";

::ng-deep .file-error {
  transition: opacity 0.15s ease-out;
  animation: shake 0.65s linear both;
}

.file-error ::ng-deep .filepond--drip {
  background-color: colors.warn-color();
  opacity: 1;
}

.file-error ::ng-deep .filepond--drop-label {
  @apply text-white;
}
