@mixin mat-icon-size($size, $font-size) {
  .mat-icon-button {
    width: $size;
    height: $size;
    line-height: $size;
  }

  .mat-icon {
    font-size: $font-size;
  }
}

@mixin mat-icon-center() {
  ::ng-deep .row-action-cell-renderer-parent,
  ::ng-deep row-action-cell-renderer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep row-action-cell-renderer button {
    height: 22px;
  }
}

@include mat-icon-size($size: 25px, $font-size: 20px);
@include mat-icon-center();
